{% extends "base.html" %}

{% block title %}
apitrary IP service for non-local requests
{% end %}

{% block header %}
<h1>apitrary IP service</h1>
{% end %}

{% block content %}
<h2>Your IP address:</h2>
<p id="ip_address">{{ my_ip_address }}</p>
{% end %}

{% block footer %}
<ul id="footer_nav">
    <li><a href="http://apitrary.com/">Home</a></li>
    <li><a href="http://apitrary.com/blog">Blog</a></li>
    <li><a href="http://apitrary.com/imprint">Imprint</a></li>
    <li><a href="http://apitrary.com/policy">Privacy Policy</a></li>
</ul>
{% end %}